@import-normalize ;
@import "helper";
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

body {
    font-family: $font-hei;
    font-size: 16px;
    line-height: 1.2;
    background: #f5f5f5;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:focus{
    outline:none;
}

.icon {
    width: 1.5em;
    height: 1.5em;
}